body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 20px;
}


h1 {
    color: darkblue;
    text-align: center;
    font-size: 40px;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

.info {
    display: flex;
    gap: 20px;
    align-items: center;
}
